@tailwind base;
@tailwind components;
@tailwind utilities;


.map {
    height: 500px;
    width: 500px;
    z-index: -1;
}

.map2 {
    height: 300px;
    width: 500px;
}

.selected {
    position: fixed;
    top: 0;
}